<!-- <link
  href=""
  rel="stylesheet"
/>
<center>
  <div id="fondo-invitacion">
    <div style="width: 400px; height: 150px; background: #f1cc82">
      <div id="titulo-invitacion">Gabriela & Rodrigo</div>
      <div id="contenido-invitacion">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae
        libero est. Aenean pharetra blandit odio. Curabitur magna dui, volutpat
        a mauris a, euismod placerat massa. Maecenas in tristique lacus. Sed
        ornare tortor at finibus bibendum. Proin augue nulla, pulvinar eget
        imperdiet et, sollicitudin quis dui. Donec tincidunt quam in porttitor
        viverra. Vivamus suscipit magna sed massa congue, ac interdum nunc
        aliquet. Nullam at auctor arcu. Mauris fringilla quam sem, eget dapibus
        risus fermentum sed. Etiam pharetra nibh id vehicula tincidunt. Mauris
        ac neque sed nisl sodales porttitor sit amet eget massa. Morbi placerat
        leo eget risus consectetur convallis. Suspendisse potenti. Sed aliquam
        nisl scelerisque mollis tempor. Vestibulum eget finibus urna. Ut sed
        augue in metus aliquet sollicitudin sit amet non enim. Nulla rutrum
        pulvinar iaculis. Donec elementum, est quis lobortis finibus, dui massa
        porta ipsum, vel accumsan lectus dui eget sapien. Nam enim lectus,
        laoreet hendrerit vehicula ut, rhoncus a nulla. Praesent erat mi,
        sodales sit amet massa pretium, faucibus rutrum velit. Aenean in urna
        quis ante dapibus efficitur. Etiam vel molestie eros. In facilisis
        sodales leo, at pulvinar odio consectetur vitae. Proin in tortor vitae
        diam rutrum pulvinar.
      </div>
    </div>
    <div
      id="fondo-in-tapa1"
      style="background: url(../../../assets/imagenes/foto1.jpeg)"
    ></div>
    <div
      id="fondo-in-tapa2"
      style="background: url(../../../assets/imagenes/foto1.jpeg)"
    ></div>
    <div
      id="foto-invitacion"
      style="background: url(https://img.freepik.com/foto-gratis/arreglo-anillos-boda-alto-angulo_23-2148966275.jpg?size=626&ext=jpg&ga=GA1.1.1528442522.1697155200&semt=ais)"
    ></div>
  </div>
</center> -->
